<!DOCTYPE html>
<html>
<head>
<title>TuneHub : Home</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<div class="div1">
		<h1>Welcome To TuneHub!</h1>

		<div class="login-link">
			<p style="color: black;">
				Already have an account?<a href="login"><u> LOGIN</u></a>
			</p>
		</div>
		<div class="register-link">
			<p style="color: black;">
				Already have an account?<a href="registration"><u> REGISTER</u></a>
			</p>
		</div>
	</div>

</body>
</html>